*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEF898;
}

h1{
    color: white;
    font-size: 4em;
}
h2{
    color: white;
}


img {
    max-width: 300px;
    max-height: 250px;
}

li a{
    color: white;
    text-decoration: none;
    font-size: 1.8em;
}
li {
    list-style: none;
}
.logo img{
    width: 600px;
    border-radius: 20%;
}