*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEF898;
}

h1{
    color: white;
}
h2{
    color: white;
}
main i{
    color: yellow;
}

img {
    max-width: 300px;
    max-height: 250px;
}

a{
    color: #FEF898;
    list-style: none;
}

.logo img{
    width: 600px;
    border-radius: 20%;
}